/* Footer.css */
.footer-container {
  background-color: hsl(229, 31%, 21%);
  padding: 2rem clamp(40px, 7vw, 168px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Rubik", sans-serif;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.footer-logo img {
  width: 150px;
  height: auto;
  display: block;
  cursor: pointer;
}

.footer-links {
  display: flex;
  gap: 3.03rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-links li {
  color: hsl(0, 0%, 97%);
  text-transform: uppercase;
  font-size: 0.8rem;
  opacity: 0.8;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-links li:hover {
  color: hsl(0, 94%, 66%);
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 2.283rem;
}

.footer-right svg {
  cursor: pointer;
}

.footer-right svg path {
  transition: fill 0.3s ease;
}

.footer-right svg:hover path {
  fill: hsl(0, 94%, 66%);
}
@media (max-width: 1024px) and (min-width: 769px) {
  .footer-container {
    padding: 2rem 48px;
  }

  .footer-left {
    gap: 2rem;
  }

  .footer-links {
    gap: 1.8rem;
  }
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    padding: 2.8rem 2rem;
    gap: 2.5rem;
  }

  .footer-left {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 10px;
  }
  .footer-links li {
    font-size: 0.9rem;
  }
  .footer-logo {
    margin: 0;
    padding-right: 22px;
  }
  .footer-logo img {
    padding-top: 0;
  }
}
