/* App.css */
@font-face {
  font-family: "Emilys Candy";
  src: url("./assets/fonts/EmilysCandy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Parisienne";
  src: url("./assets/fonts/Parisienne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(34, 1, 1);
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}
